@charset "UTF-8";
@import url(../css/fonts.css);
.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri_icon-request {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -637px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 29px;
}

.fri_icon-information {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -372px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
}

.fri_icon-visit {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -690px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 51px;
}

.fri_icon-narrow {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -517px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 39px;
}

.fri_icon-equipment {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 36px;
}

.fri_icon-high-lvl {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -295px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 38px;
}

.fri_icon-high-skill {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -336px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 41px;
}

.fri_icon-korean-medics {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -471px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 38px;
}

.fri_icon-price {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -553px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 40px;
}

.fri_icon-reliability {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -590px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 34px;
}

.fri_icon-facebook {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -239px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 51px;
}

.fri_icon-instagram {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -415px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 52px;
}

body {
  font-family: "PT Sans Regular", sans-serif;
  height: 100%;
  color: #333;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

.site-wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-weight: normal;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

h3 {
  margin-bottom: 25px;
  font-size: 25px;
}

strong, b {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: normal;
}

.st-title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
}

.fz20 {
  font-size: 20px;
}

.fz30 {
  font-size: 30px;
}

.fz35 {
  font-size: 35px;
}

.fz50 {
  font-size: 50px;
}

.fz55 {
  font-size: 55px;
}

.tac {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  background: none;
}

*[type=text] {
  border: none;
  outline: none;
}

.owl-carousel .owl-item img {
  width: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-form__container {
  max-width: 800px;
}

.section-presentation__container {
  max-width: 880px;
}

.why-korea {
  padding-left: 500px;
  position: relative;
}
.why-korea:before {
  content: "";
  background: url("../images/doctor.png") no-repeat center center;
  background-size: contain;
  width: 683px;
  height: 755px;
  position: absolute;
  left: -100px;
  bottom: -75px;
  z-index: 10;
}

.why-korea__content {
  position: relative;
  z-index: 20;
}

.why-korea__title {
  margin-bottom: 25px;
}

.container_w710px {
  max-width: 710px;
}

.container_w780px {
  max-width: 780px;
}

.container_w830px {
  max-width: 830px;
}

.container_w900px {
  max-width: 900px;
}

.header {
  position: relative;
  z-index: 100;
  box-shadow: 0 0 10px 0 #ccc;
}

.header__top {
  padding-top: 15px;
}

.main-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__logo {
  -ms-flex-preferred-size: 286px;
  flex-basis: 286px;
}

.logo__link {
  display: inline-block;
  line-height: 1em;
  font-size: 0;
}

.logo__image {
  height: auto;
  max-width: 110px;
  width: 100%;
}

.main-header__contacts {
  text-align: center;
}

.main-header__phone {
  margin-bottom: 2px;
}

.main-header__phone-link {
  font-family: "PT Sans Bold", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}

.main-header__free-call {
  font-size: 14px;
}

.main-header__button {
  -ms-flex-preferred-size: 286px;
  flex-basis: 286px;
}

.main-banner-content__button {
  width: 100%;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "PT Sans Narrow Bold";
  color: #FFFFFF;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 3px -1px #9a9a9a;
  background: linear-gradient(to right, #f44b51, #ff5a60);
  border-top: 2px solid #ff8c90;
  border-radius: 3px;
  padding: 12px 25px;
  transition: all 0.5s ease 0s;
}
.button:hover {
  box-shadow: 0 2px 3px -1px #9a9a9a, inset 0px 0px 1000px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #cc7073;
}

.button__header {
  font-size: 18px;
  max-width: 274px;
  width: 100%;
  float: right;
}

.banner-content__button {
  text-align: center;
}

.header__bottom ul::before {
  display: none;
}
.header__bottom ul li {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.header__bottom ul li::before {
  display: none;
}
.header__bottom ul ul li {
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
}

.main-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
}
.main-menu li {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.main-menu li::before {
  display: none;
}
.main-menu ul li {
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
}

.main-menu__item {
  position: relative;
  border-bottom: 1px solid #eee;
}

.main-menu__item_dropmenu:hover .main-menu__dropmenu {
  display: block;
}
.main-menu__item_dropmenu:hover .main-menu__link {
  text-decoration: none;
}
.main-menu__item_dropmenu:hover .main-menu__link:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #231f20 transparent transparent transparent;
  top: 50%;
  right: -15px;
}

.main-menu__link {
  padding: 15px 0;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
}
.main-menu__link:hover {
  text-decoration: underline;
}

.main-menu__dropmenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -5px;
  background-color: #fff;
  width: 340px;
  padding: 25px;
  box-shadow: 0 0 5px 2px #eee;
  z-index: 100;
}

.menu-dropdown {
  list-style: none;
  font-size: 16px;
}

.menu-dropdown__item {
  margin-bottom: 20px;
}
.menu-dropdown__item:last-child {
  margin-bottom: 0;
}

.menu-dropdown__link {
  text-decoration: none;
}
.menu-dropdown__link:hover {
  text-decoration: underline;
}

.main-slider .owl-dots, .owl-carousel .owl-dots {
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}
.main-slider .owl-dot, .owl-carousel .owl-dot {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  border: 3px solid #fff;
}
.main-slider .owl-dot:hover, .owl-carousel .owl-dot:hover {
  background-color: #1bb603;
  border-color: #fff;
}
.main-slider .owl-dot.active, .owl-carousel .owl-dot.active {
  background-color: #1bb603;
  border-color: #1bb603;
}

.main-slider {
  padding: 0 !important;
}
.main-slider .owl-prev, .main-slider .owl-next {
  position: absolute;
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 119px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -59.5px;
  margin-left: -20px;
  font-size: 0;
  transition: all 0.5s ease 0s;
}
.main-slider .owl-prev:hover, .main-slider .owl-next:hover {
  opacity: 0.7;
}
.main-slider .owl-prev {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 119px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -59.5px;
  margin-left: -20px;
  left: 75px !important;
  margin-left: 0 !important;
}
.main-slider .owl-next {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 119px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -59.5px;
  margin-left: -20px;
  left: auto !important;
  margin-left: 0 !important;
  right: 75px !important;
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}
.main-slider .owl-dots {
  bottom: 20px;
}

.main-slider__content {
  position: static;
  padding: 62px 0;
}

.main-slider__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1;
  font-size: 55px;
  color: #333333;
  margin-bottom: 19px;
}

.main-slider__subtitle {
  font-size: 26px;
  line-height: 1.33;
  margin-bottom: 19px;
}

.main-slider__text {
  font-size: 19px;
  line-height: 1.7em;
  margin-bottom: 25px;
}

.main-slider__slide {
  position: relative;
  background-size: cover;
  background-position: center;
}

.section {
  padding: 70px 0;
  overflow: hidden;
}

.section_grey {
  background-color: #f6f6f6;
}

.section_pb_0 {
  padding-bottom: 0;
}

.section_pt_10 {
  padding-top: 10px;
}

.section_pt_25px {
  padding-bottom: 25px;
}

.section_pt40px {
  padding-top: 40px;
}

.section_pt45px {
  padding-top: 45px;
}

.section_pt50px {
  padding-top: 50px;
}

.section_pt55px {
  padding-top: 55px;
}

.section_pt60px {
  padding-top: 60px;
}

.section_pt65px {
  padding-top: 65px;
}

.section_pt75px {
  padding: 75px 0 70px;
}

.section_pt80px {
  padding-top: 80px;
}

.section_pb20px {
  padding-bottom: 20px;
}

.section_pb30px {
  padding-bottom: 30px;
}

.section_pb40px {
  padding-bottom: 40px;
}

.section_pb55px {
  padding-bottom: 55px;
}

.section_pb60px {
  padding-bottom: 60px;
}

.section_pb65px {
  padding-bottom: 65px;
}

.section_pb70px {
  padding-bottom: 70px;
}

.section_pb75px {
  padding-bottom: 75px;
}

.section_pb80px {
  padding-bottom: 80px;
}

.section__header {
  margin: 0 auto 50px;
  max-width: 680px;
}

.section__header_w900px {
  max-width: 900px;
}

.section__header_mb30px {
  margin-bottom: 30px;
}

.section__header_mb40px {
  margin-bottom: 40px;
}

.section__header_w780 {
  max-width: 780px;
}

.section__title {
  text-align: center;
  margin-bottom: 35px;
}

.section__title_m0 {
  margin: 0;
}

.section__title_white {
  color: #FFFFFF;
}

.section__title_mb20px {
  margin-bottom: 20px;
}

.section__title_mb30px {
  margin-bottom: 30px;
}

.section__title_mb35px {
  margin-bottom: 35px;
}

.section__title_mb40px {
  margin-bottom: 40px;
}

.section__title_mb28px {
  margin-bottom: 28px;
}

.section__title_mb47px {
  margin-bottom: 47px;
}

.section__text {
  font-size: 22px;
  text-align: center;
  line-height: 1.4;
}

.section__text_white {
  color: #FFFFFF;
}

.section__text_lh1-5 {
  line-height: 1.5em;
}

.section__text_mb50px {
  margin-bottom: 50px;
}

.section__subtitle {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1em;
}

.section-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-grid__item {
  width: 33.3%;
  text-align: center;
  padding: 0 30px;
  position: relative;
}
.section-grid__item:after {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -517px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 39px;
  content: "";
  position: absolute;
  top: 50px;
  right: -20px;
}
.section-grid__item:last-child:after {
  display: none;
}

.section-grid__icon {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-grid__narrow {
  padding-top: 53px;
}

.section-grid__icon-wrapper {
  margin: auto;
  border: 1px solid #000000;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  margin-bottom: 13px;
}

.section-grid__text {
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  line-height: 1.5em;
}

.section-form {
  position: relative;
  background-image: url("../images/form-request-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  padding: 70px 0;
}

.section-form_bg2 {
  background-image: url("../images/form-request-bg2.jpg");
}

.section-form__header {
  margin-bottom: 20px;
  text-align: center;
}

.section-form__title {
  font-size: 55px;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
}

.section-form__descr {
  font-size: 22px;
}

.st-textarea {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 17px;
  width: 100%;
  height: 88px;
  border-radius: 5px;
  resize: none;
  padding: 15px;
  color: #8f8f8f;
  outline: none;
  border: none;
}

.st-input {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 17px;
  width: 100%;
  height: 42px;
  border-radius: 5px;
  resize: none;
  padding: 0 15px;
  color: #8f8f8f;
  outline: none;
  border: none;
}

.st-checkbox {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.st-checkbox__input {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
.st-checkbox__input[type="checkbox"]:checked + .st-checkbox__checkbox {
  opacity: 1;
}

.st-checkbox__checkbox {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -185px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5.5px;
  margin-left: -8px;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.st-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding: 6px 0 6px 40px;
  min-height: 28px;
}

.st-label__checkbox {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 0;
}

.st-label__text {
  font-size: 17px;
}

.form-request__line {
  margin-bottom: 15px;
}

.form-request__inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-request__input {
  width: 48%;
}

.list-advantage__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
  font-size: 50px;
  text-align: left;
}

.list-advantage__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  max-width: 650px;
  width: 100%;
  margin-bottom: 25px;
}
.list-advantage__item:last-child {
  margin-bottom: 0;
}

.list-advantage__icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fe6268;
  width: 62px;
  height: 62px;
  margin-right: 20px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.list-advantage__text {
  font-size: 22px;
  line-height: 1.5em;
}

.review__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 55px;
}

.review-slider__content {
  position: relative;
  padding-left: 200px;
  min-height: 200px;
}

.review-slider__photo {
  margin-right: 30px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 5px solid #e1dede;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -85px;
  font-size: 0;
  line-height: 0;
}

.review-slider__img {
  width: 160px !important;
  height: 160px;
  object-fit: cover;
}

.review-slider__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: "PT Sans Bold", sans-serif;
  border-bottom: 2px solid #fe6268;
  padding-bottom: 17px;
  margin-bottom: 15px;
}

.review-slider__name {
  font-size: 20px;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.review-slider__place {
  font-size: 16px;
  margin-right: 10px;
}

.review-slider__date {
  font-size: 16px;
}

.review-slider__text {
  font-size: 18px;
  line-height: 1.7em;
}

.review-slider_mb30 {
  margin-bottom: 30px;
}
.review-slider_mb30:last-child {
  margin-bottom: 0;
}

.say-about-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -30px;
}

.say-about-grid__item {
  width: 45%;
  min-height: 220px;
  margin-bottom: 30px;
}

.say-about-grid__image {
  width: 100% !important;
}

.news-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -45px;
}

.section_news-wrap {
  margin-bottom: 45px;
}

.news-grid_blog .news-grid__item {
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.news-grid__item {
  width: 45%;
  margin-bottom: 45px;
}

.news-item {
  text-decoration: none;
}
.news-item:hover .news-item__image {
  transform: scale(1.2);
}

.news-item__image-wrap {
  position: absolute;
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 4px solid #e1dede;
  z-index: 1;
}

.news-item__desc {
  padding-left: 150px;
}

.news-item__image {
  width: 134px;
  height: 134px;
  object-fit: cover;
  position: relative;
  transition: transform 2s;
}

.news-item-desc {
  min-height: 134px;
}

.news-item-desc__preview {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  line-height: 1.7em;
  margin-bottom: 10px;
}

.news-item-desc__title {
  font-family: "PT Sans Narrow Bold";
  text-decoration: none;
  color: #333333;
  font-size: 25px;
  line-height: 1.7em;
  margin-bottom: 10px;
}

.news-item-desc__date {
  font-size: 16px;
  color: #a1a1a1;
}

.button__news {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 20px;
  min-height: 40px;
  width: 157px;
  display: block;
  margin: 0 auto;
}

.faq-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -40px;
}

.faq-grid__item {
  width: 45%;
  margin-bottom: 40px;
}

.faq-item__title {
  font-size: 19px;
  font-family: "PT Sans Bold";
  margin-bottom: 10px;
}

.faq-item__text {
  font-size: 18px;
  line-height: 1.7em;
}

.faq__item {
  width: 50%;
  padding-top: 25px;
  padding-left: 100px;
}

.faq__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
}

.faq__text {
  font-size: 18px;
  line-height: 1.7em;
}

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social__facebook {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 6%;
}

.instagram-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -40px;
}

.instagram-grid__item {
  width: 47%;
  margin-bottom: 40px;
}

.social__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.instagram-item {
  text-decoration: none;
}
.instagram-item:hover .instagram-item__image {
  transform: scale(1.2);
  -o-transform: scale(1.2);
}

.instagram-item__image-wrap {
  height: 260px;
  overflow: hidden;
  margin-bottom: 10px;
}

.instagram-item__image {
  transition: all 2s ease 0s;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.instagram-item__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.instagram-item__category {
  font-size: 16px;
  color: #b1b1b1;
  margin-bottom: 10px;
}

.instagram-item__preview {
  font-size: 18px;
  line-height: 1.5em;
}

.facebook__item {
  text-align: center;
}

.facebook__image {
  width: 100%;
  max-width: 300px;
}

.footer {
  background-color: #444;
  padding: 50px 0;
  font-size: 16px;
  color: #fff;
}

.button__banner {
  width: 287px;
  margin: 0 auto;
}

.banner {
  background: url("../images/diagnostic-banner.jpg") center no-repeat;
}

.section__body {
  margin-bottom: 65px;
}

.section__footer {
  border-top: 2px solid #FFFFFF;
}

.section__footer_w900px {
  width: 900px;
}

.banner-grid {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-top: 25px;
  margin-left: -15px;
}

.banner-grid__item {
  width: 33.3%;
  padding-left: 15px;
}

.banner-grid__number {
  display: block;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 60px;
  float: left;
  line-height: 0.8em;
  color: #FFFFFF;
  margin-right: 9px;
}

.banner-grid__text {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: lowercase;
}

.owl-carousel {
  padding: 0 140px;
}

.owl-prev, .owl-next {
  position: absolute;
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -33px;
  font-size: 0;
  transition: all 0.5s ease 0s;
}
.owl-prev:hover, .owl-next:hover {
  opacity: 0.7;
}

.owl-prev {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -33px;
  left: 0 !important;
  margin-left: 0 !important;
}

.owl-next {
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -33px;
  left: auto !important;
  margin-left: 0 !important;
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  right: 0 !important;
}

.section_bg-choose-us {
  background-image: url("../images/choose-us-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid_elems-2 {
  font-size: 20px;
  line-height: 1.7em;
  color: #FFFFFF;
}
.grid_elems-2 .grid__item {
  width: 45%;
}

.grid__item_read-more {
  font-size: 16px;
}

.grid-elems-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 17px;
  line-height: 1.7em;
  color: #333;
}

.grid-elems-4__content {
  width: 22%;
}

.section-item__title {
  text-align: center;
  margin-bottom: 35px;
}

.section-item__subtitle {
  text-align: center;
  margin-bottom: 45px;
}

.section__item {
  margin-bottom: 60px;
}
.section__item:last-child {
  margin-bottom: 0;
}

.section-item-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-item-grid__content {
  width: 60%;
  font-size: 19px;
}
.section-item-grid__content li {
  position: relative;
  margin-bottom: 25px;
  line-height: 1.7em;
  list-style-type: none;
  padding-left: 34px;
}
.section-item-grid__content li::before {
  content: "";
  background-image: url('../images/icons-s33b1ca0b62.png');
  background-position: 0 -741px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 17px;
  position: absolute;
  top: 7px;
  left: 0;
}

.section-item-grid__contacts {
  width: 30%;
}

.section-contacts {
  color: #FFFFFF;
}

.section__contacts {
  background: url("../images/section-contacts-bg.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}

.section-contacts__header {
  font-family: "PT Sans Narrow Bold";
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
  padding: 25px 15px 15px 15px;
  margin-bottom: 25px;
}

.section-contacts__body {
  padding: 0 15px 25px;
}

.section-contacts__line {
  text-align: center;
  margin-bottom: 40px;
}
.section-contacts__line:last-child {
  margin-bottom: 0;
}

.section-contacts__link {
  font-size: 35px;
  text-decoration: none;
}
.section-contacts__link:hover {
  text-decoration: underline;
}

.section-contacts__link_fz25 {
  font-size: 25px;
}

.section-contacts__text {
  font-family: "PT Sans Bold";
  font-size: 20px;
}

.mission {
  padding-left: 400px;
  position: relative;
}
.mission:before {
  content: "";
  background: url("../images/mission.png") no-repeat center center;
  background-size: contain;
  width: 493px;
  height: 561px;
  position: absolute;
  left: -100px;
  bottom: -75px;
  z-index: 10;
}
.mission strong {
  font-size: 25px;
  font-family: "PT Sans Narrow Bold";
}

.mission__content {
  position: relative;
  z-index: 20;
  font-size: 17px;
  line-height: 1.5em;
}
.mission__content p {
  margin-bottom: 30px;
}
.mission__content p:last-child {
  margin-bottom: 0;
}

ol {
  list-style: none;
}
ol > li {
  margin-bottom: 30px;
}
ol > li:last-child {
  margin-bottom: 0;
}

ol ul li {
  position: relative;
  line-height: 1.7em;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 10px;
}
ol ul li::before {
  content: "—";
  position: absolute;
  left: 0;
}
ol ul ol li {
  padding-left: 5px;
  list-style-type: decimal;
  margin-left: 90px;
  margin-bottom: 0;
}
ol ul ol li::before {
  content: "";
}
ol ul ol li:last-child {
  margin-bottom: 0;
}

ul li {
  position: relative;
  line-height: 1.7em;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 10px;
}
ul li::before {
  content: "—";
  position: absolute;
  left: 0;
}

.jspTrack {
  background-color: #ffa6a9;
}

.jspDrag {
  background-color: #fe595f;
}

.section_news {
  margin-bottom: 35px;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  max-width: 465px;
  margin: 0 auto;
  font-family: "PT Sans Narrow Bold";
  font-size: 15px;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination__items {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
}

.pagination-items__item, .pagination__next, .pagination__prev {
  text-align: center;
  border: 1px solid #cac9c9;
  height: 35px;
  padding: 7px 0;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}
.pagination-items__item:hover, .pagination__next:hover, .pagination__prev:hover {
  background-color: #e3f7ff;
}

.pagination-items__item {
  border-left: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.pagination__next, .pagination__prev {
  width: 15%;
}

.pagination__next {
  border-left: none;
}

.pagination_inactive {
  color: #cac9c9;
  pointer-events: none;
}

.footer-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-grid__info {
  width: 250px;
}

.footer-grid__nav {
  width: 260px;
}
.footer-grid__nav li {
  padding-left: 0;
}
.footer-grid__nav li::before {
  display: none;
}

.footer-info__item {
  margin-bottom: 5px;
}
.footer-info__item:last-child {
  margin-bottom: 0;
}

.footer-info__main {
  margin-bottom: 20px;
}

.footer-info__conf {
  font-size: 15px;
}

.contacts-flex {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contacts-flex__left {
  margin-right: 10px;
  width: 30%;
}

.contacts-flex__right {
  word-wrap: break-word;
  width: 70%;
}

.footer-nav {
  list-style: none;
}

.footer-nav {
  font-size: 15px;
}

.footer-nav__item {
  margin-bottom: 11px;
}
.footer-nav__item:last-child {
  margin-bottom: 0;
}

.footer-soc__header {
  margin-bottom: 20px;
  text-align: center;
}

.soc-list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 230px;
}
.soc-list li {
  padding-left: 0;
}
.soc-list li::before {
  display: none;
}

.soc-list__item {
  margin-right: 15px;
}

.soc-list__link {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  transition: opacity 0.2s ease;
}
.soc-list__link:hover {
  opacity: 0.7;
}

.st-accordion__content p {
  margin-bottom: 10px;
}
.st-accordion__content p:last-child {
  margin-bottom: 0;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

.accordion__content {
  display: none;
  border-top: 2px solid #fe6268;
  border-bottom: 2px solid #fe6268;
  padding: 45px 0;
}

.accordion__text {
  font-size: 17px;
  line-height: 1.5em;
}

.accordion__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 30px;
  padding: 35px 0 45px 0;
  text-align: center;
}

.table-scroll {
  width: 100%;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.table, table {
  width: 100%;
  display: table;
  line-height: 1.2em;
}
.table strong, table strong {
  font-size: 20px;
}

.table__tr {
  display: table-row;
}

.table__td, td {
  display: table-cell;
  border: 1px solid #FFFFFF;
  background-color: #f8f8f8;
  padding: 15px 20px;
}

.section-presentation {
  position: relative;
  background-image: url("../images/presentation-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
}

.section-presentation__title {
  margin-bottom: 35px;
}

.section-presentation__descr {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 35px;
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid_presentation .grid__item {
  padding: 0 20px;
}
.grid_presentation .grid__item:first-child {
  padding-left: 0;
}
.grid_presentation .grid__item:last-child {
  padding-right: 0;
}

.grid_diagnostic {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_diagnostic .grid__item {
  width: calc(100% * (1/4) - 10px - 1px);
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 15px;
}
.grid_diagnostic .grid__item:nth-child(2n+1) {
  margin-right: 15px;
}
.grid_diagnostic .grid__item ul li {
  margin-bottom: 10px;
}
.grid_diagnostic .grid__item ul li:last-child {
  margin-bottom: 0;
}

.presentation-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.presentation-item__number {
  font-family: "PT Sans Narrow Bold";
  font-size: 60px;
  margin-right: 10px;
}

.presentation-item__descr {
  font-size: 22px;
  font-family: "PT Sans Narrow Bold";
}

.section-presentation__footer {
  padding: 25px 0;
  border-top: 1px solid #fff;
}

.st-accordion__item {
  border-top: 1px solid #e6e6e6;
}
.st-accordion__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.st-accordion__item.open .st-accordion__header:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #000 transparent;
}

.st-accordion__header {
  font-size: 20px;
  padding: 20px 0 20px 50px;
  cursor: pointer;
  position: relative;
}
.st-accordion__header:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 20px;
}

.st-accordion__content {
  padding: 30px 0;
  border-top: 1px solid #fe6268;
  border-bottom: 1px solid #fe6268;
  display: none;
}

.st-accordion__content_wrap {
  margin-bottom: 15px;
}

.st-content {
  font-size: 17px;
  line-height: 1.5em;
}
.st-content p {
  margin-bottom: 30px;
}
.st-content p:last-child {
  margin-bottom: 0;
}
.st-content img.float-right {
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  max-width: 50%;
}

.st-content_mb35px {
  margin-bottom: 35px;
}

.button-hamburger {
  width: 50px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  background-color: #F93565;
  transition: all 0.5s ease 0s;
}
.button-hamburger.active {
  height: 50px;
}
.button-hamburger.active .button-hamburger__line {
  opacity: 0;
  height: 4px;
  top: 50%;
  margin-top: -2px;
}
.button-hamburger.active .button-hamburger__line:first-child {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  opacity: 1;
}
.button-hamburger.active .button-hamburger__line:last-child {
  transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  opacity: 1;
}

.button-hamburger__line {
  position: absolute;
  height: 2px;
  background-color: #fff;
  right: 8px;
  left: 8px;
  top: 50%;
  margin-top: -1px;
  transition: all 0.5s ease 0s;
}
.button-hamburger__line:first-child {
  top: 8px;
  margin-top: 0;
}
.button-hamburger__line:last-child {
  top: auto;
  margin-top: 0;
  bottom: 8px;
}

.main-header__menu-button {
  -ms-flex-preferred-size: 180px;
  flex-basis: 180px;
  text-align: right;
}

.overlay-site {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.overlay-site.open {
  opacity: 1;
  visibility: visible;
}

.main-header__menu-button {
  display: none;
}

.mobile-menu {
  display: none;
  height: 100%;
  left: -320px;
  top: 0;
  background-color: #fff;
  width: 320px;
  position: fixed;
  z-index: 300;
  overflow: auto;
  transition: all 0.5s ease 0s;
}
.mobile-menu.open {
  left: 0;
}

.mobile-menu__header {
  padding: 5px 20px;
  border-bottom: 1px solid #eee;
}

.close-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.close-button:before {
  content: "";
  width: 16px;
  height: 16px;
  border-top: 2px solid #F93565;
  border-left: 2px solid #F93565;
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -10px;
  transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}
.close-button:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #F93565;
  top: 50%;
  margin-top: -2px;
  position: absolute;
}

.popup-feedback {
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 100px;
  top: 50%;
  left: 49%;
  z-index: 300;
  max-width: 640px;
  width: 95%;
  transform: translate(-50%, -53%);
  transition: all 0.5s ease 0s;
  background-image: url("../images/form-request-bg1.jpg");
  padding: 30px;
  border-radius: 5px;
}
.popup-feedback.open {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}

.popup-feedback__header {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.popup-feedback__title {
  font-size: 34px;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
}

.popup-feedback__descr {
  font-size: 20px;
}

.popup-feedback .st-label__text {
  color: #ffffff;
  font-size: 16px;
}

.popup-feedback .button {
  font-size: 18px;
}

.popup__close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 10px 0 #000;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}
.popup__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.popup__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -1px;
  width: 2px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

.popup_successfully {
  padding-top: 20px;
  color: #25ff00;
}

.popup__text {
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
}

.custom_gradient {
  position: relative;
  border-radius: 5px;
  border: 1px solid #839DB0;
  cursor: pointer;
}
.custom_gradient::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #f44b51, #ff5a60);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  opacity: 1;
}
.custom_gradient::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #c3464c, #c24346);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  transition: all 0.3s ease;
}
.custom_gradient:hover::after {
  opacity: 1;
}

.ova {
  overflow: auto;
}

@media screen and (max-width: 1500px) {
  .main-slider .owl-prev {
    left: 20px !important;
  }
  .main-slider .owl-next {
    right: 20px !important;
  }
}
@media screen and (max-width: 1350px) {
  .main-slider__content {
    padding: 50px 100px;
    width: 70%;
  }
}
@media screen and (max-width: 1130px) {
  .main-slider__title {
    font-size: 45px;
  }

  .main-slider__text {
    font-size: 17px;
  }

  .main-slider__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .grid_diagnostic .grid__item {
    width: calc(100% * (1/2) - 10px - 1px);
  }
  .grid_diagnostic .grid__item:nth-child(2n+1) {
    margin-right: 15px;
  }

  .st-accordion table {
    width: 1000px;
  }

  .mobile-menu {
    display: block;
  }

  .main-header__logo {
    -ms-flex-preferred-size: 180px;
    flex-basis: 180px;
  }

  .header__top {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .main-header__menu-button {
    display: block;
  }

  .main-header__button {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .main-menu {
    display: block;
  }

  .main-menu__link {
    width: 100%;
    display: block;
  }

  .main-menu__link {
    padding: 15px;
  }

  .main-menu__dropmenu {
    width: 100%;
    padding: 0;
    position: static;
    margin: 0;
    padding-left: 20px;
    border-top: 1px solid #eeeeee;
    box-shadow: none;
  }

  .menu-dropdown__item {
    margin-bottom: 0;
  }

  .menu-dropdown__link {
    padding: 10px 20px;
    display: block;
  }

  h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .table strong, table strong {
    font-size: 18px;
  }

  .section-item-grid__content {
    font-size: 17px;
  }

  .news-item-desc__title {
    font-size: 20px;
    line-height: 1.5em;
  }

  .grid_elems-2 {
    font-size: 18px;
  }

  .section-item__subtitle {
    margin-bottom: 25px;
  }

  .section__title {
    margin-bottom: 20px;
  }

  .section-form__descr {
    font-size: 18px;
  }

  .section-form__header {
    max-width: 600px;
    margin: 0 auto 20px;
  }

  .section-grid__text {
    font-size: 17px;
  }

  .section__header {
    max-width: 600px;
    margin-bottom: 30px;
  }

  .section__text {
    font-size: 20px;
  }

  .st-accordion__header {
    font-size: 18px;
    padding: 15px 0 15px 50px;
  }

  .section-form__title {
    font-size: 40px;
  }

  .button {
    font-size: 18px;
  }

  .st-title.fz55 {
    font-size: 40px;
  }
  .st-title.fz50 {
    font-size: 35px;
  }
  .st-title.fz35 {
    font-size: 25px;
  }

  .list-advantage__text {
    font-size: 18px;
  }

  .main-slider__content {
    padding: 50px;
    width: 70%;
  }

  .owl-carousel {
    padding: 0 100px;
  }

  .tab-display-none {
    display: none;
  }

  .container {
    max-width: 870px;
  }

  .social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .social__instagram {
    margin-bottom: 50px;
  }

  .social__facebook {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0;
  }

  .owl-nav .owl-next {
    right: 5px !important;
  }

  .owl-nav .owl-prev {
    left: 5px !important;
  }

  .news-grid {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .news-grid__item {
    width: 100%;
    max-width: 500px;
  }

  .section {
    padding: 30px 0;
  }

  .section-form {
    padding: 30px 0;
  }

  .why-korea__title {
    text-align: center;
  }

  .why-korea {
    padding: 0;
  }
  .why-korea:before {
    left: auto;
    right: -200px;
    bottom: -95px;
  }

  .why-korea__content {
    max-width: 550px;
  }

  .main-slider__title br, .main-slider__subtitle br, .main-slider__text br {
    display: none;
  }

  .review-slider__right {
    text-align: right;
  }

  .st-content {
    font-size: 18px;
  }
  .st-content h2 {
    font-size: 24px;
  }

  .review-slider__place {
    margin: 0;
  }

  .news-item__image-wrap {
    width: 100px;
    height: 100px;
  }

  .news-item-desc {
    min-height: 100px;
  }

  .news-item__desc {
    padding-left: 120px;
  }

  .footer-grid__item {
    margin: 0 auto 30px auto;
  }
  .footer-grid__item:last-child {
    margin-bottom: 0;
  }

  .footer-item__wrapper {
    margin-bottom: 10px;
  }

  .custom-ol-list h2 {
    font-size: 20px;
  }

  .st-content {
    font-size: 18px;
  }
  .st-content h2 {
    font-size: 20px;
  }

  .grid_presentation .presentation-item__descr {
    font-size: 18px;
    line-height: 1em;
  }
  .grid_presentation .presentation-item__number {
    font-size: 40px;
  }

  .section-presentation__descr {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 900px) {
  .mission {
    position: relative;
    padding-left: 0;
    width: 450px;
  }
  .mission::before {
    left: auto;
    right: -430px;
  }
}
@media screen and (max-width: 800px) {
  .mission::before {
    right: -400px;
  }
}
@media screen and (max-width: 700px) {
  .mission {
    width: 100%;
  }
  .mission::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .popup-feedback__title {
    font-size: 28px;
  }

  .popup-feedback__descr {
    font-size: 16px;
  }

  .main-menu li ul {
    padding-left: 0;
  }

  .contacts-flex {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contacts-flex__left {
    width: auto;
  }

  .contacts-flex__right {
    width: auto;
  }

  .say-about-grid {
    margin: 0;
  }

  .say-about-grid__item {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    max-height: 320px;
    height: 100%;
  }

  .main-header__contacts {
    display: none;
  }

  .main-header__logo {
    -ms-flex-preferred-size: 110px;
    flex-basis: 110px;
  }

  .st-accordion__content {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .st-accordion table {
    font-size: 14px;
  }

  .table strong, table strong {
    font-size: 15px;
  }

  .custom-ol-list ul ol li {
    margin-left: 30px;
  }

  .news-item-desc__title {
    font-size: 18px;
  }

  .section-item-grid__content {
    font-size: 15px;
  }

  .grid_elems-2 {
    font-size: 16px;
  }

  .faq-item__text {
    font-size: 16px;
  }

  .faq-item__title {
    font-size: 17px;
  }

  .news-item-desc__preview {
    font-size: 16px;
    line-height: 1.5em;
  }

  .review-slider__text {
    font-size: 16px;
  }

  .st-label__text {
    font-size: 15px;
  }

  .section-form__header {
    max-width: 500px;
  }

  .section__subtitle {
    font-size: 25px;
  }

  .section__text {
    font-size: 16px;
  }

  .section__header {
    max-width: 500px;
  }

  .section-form__title {
    font-size: 30px;
  }

  .st-accordion__header {
    font-size: 16px;
    padding: 10px 0 10px 50px;
  }

  .section-presentation__descr {
    font-size: 16px;
  }

  .section:not(.section_grey) .owl-dot:not(.active) {
    background-color: #f6f6f6;
    border: 3px solid #f6f6f6;
  }

  .st-title.fz55 {
    font-size: 30px;
  }
  .st-title.fz50 {
    font-size: 25px;
  }
  .st-title.fz35 {
    font-size: 20px;
  }

  .section-presentation__title {
    margin-bottom: 20px;
  }

  .owl-carousel {
    padding: 0 0 30px;
  }

  .why-korea:before {
    display: none;
  }

  .section-grid__text {
    font-size: 15px;
  }

  .list-advantage__item {
    max-width: 400px;
    margin: 0 auto 30px;
    text-align: center;
    display: block;
  }
  .list-advantage__item:last-child {
    margin-bottom: 0;
  }

  .list-advantage__text {
    font-size: 16px;
  }

  .grid_presentation {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid_presentation .grid__item {
    padding: 0;
  }
  .grid_presentation:first-child {
    padding: 0;
  }
  .grid_presentation:last-child {
    padding: 0;
  }

  .presentation-item {
    width: 220px;
  }

  .st-content {
    font-size: 14px;
  }

  .main-slider__content {
    padding: 31px 15px;
  }

  .main-slider__content {
    padding: 30px 0 60px 0;
    max-width: 100%;
  }

  .review-slider__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }

  .review-slider__photo {
    position: relative;
    margin: 0;
  }

  .news-grid__item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .news-item__desc {
    padding-top: 10px;
    padding-left: 0;
    text-align: center;
  }

  .news-item__image-wrap {
    position: relative;
  }

  .social__title {
    font-family: "PT Sans Narrow Bold", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }

  .instagram-item__text {
    text-align: center;
  }

  .facebook__item {
    text-align: center;
  }

  .footer-grid {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-grid__item {
    text-align: center;
    width: 100%;
  }

  .footer-item-phone__numbers {
    padding: 0;
  }

  .footer-item-phones__text {
    float: none;
  }

  .footer-item__wrapper {
    margin-bottom: 15px;
  }

  .footer-grid__item {
    margin-bottom: 30px;
  }
  .footer-grid__item:last-child {
    margin-bottom: 0;
  }

  .grid_elems-2 {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .grid_elems-2 .grid__item {
    width: 100%;
  }

  .section-item-grid {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-item-grid__contacts {
    width: 50%;
  }

  .why-korea__content {
    max-width: 100%;
  }

  .form-request__inputs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-slider__content {
    padding: 50px 0;
  }

  .main-slider__subtitle {
    font-size: 18px;
  }

  .main-slider__title {
    font-size: 35px;
  }

  .main-slider__text {
    font-size: 15px;
  }

  .grid_presentation {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid_presentation .grid__item {
    padding: 0;
  }
  .grid_presentation:first-child {
    padding: 0;
  }
  .grid_presentation:last-child {
    padding: 0;
  }

  .presentation-item {
    width: 220px;
  }

  .st-content {
    font-size: 14px;
  }

  .section-grid__item {
    padding: 0 10px;
  }

  .form-request__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-request__input:last-child {
    margin-bottom: 0;
  }

  .st-input, .st-textarea {
    font-size: 15px;
  }

  .section-form__descr {
    font-size: 16px;
  }

  .review-slider__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }

  .review-slider__photo {
    position: relative;
    margin: 0;
  }

  .news-grid__item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .news-item__desc {
    padding-top: 10px;
    padding-left: 0;
    text-align: center;
  }

  .news-item__image-wrap {
    position: relative;
  }

  .faq-grid {
    margin-bottom: -20px;
  }

  .faq-grid__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .list-advantage__icon {
    margin: 0 auto 10px;
  }

  .social {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .social__instagram {
    width: 100%;
    margin-bottom: 30px;
  }

  .social__facebook {
    width: 100%;
  }

  .social__title {
    font-family: "PT Sans Narrow Bold", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }

  .facebook__item {
    text-align: center;
  }

  .footer-grid {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-grid__item {
    text-align: center;
    width: 100%;
  }

  .footer-item-phone__numbers {
    padding: 0;
  }

  .footer-item-phones__text {
    float: none;
  }

  .footer-item__wrapper {
    margin-bottom: 15px;
  }

  .footer-grid__item {
    margin-bottom: 30px;
  }
  .footer-grid__item:last-child {
    margin-bottom: 0;
  }

  .grid_elems-2 {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .grid_elems-2 .grid__item {
    width: 100%;
  }

  .section-item-grid {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-item-grid__content {
    width: 100%;
  }

  .section-item-grid__contacts {
    width: 50%;
  }

  .mission__content {
    font-size: 14px;
  }
  .mission__content strong {
    font-size: 15px;
  }

  .custom-ol-list h2 {
    font-size: 18px;
  }

  .footer-grid__info {
    margin-bottom: 30px;
  }

  .footer-grid__info {
    width: 100%;
    text-align: center;
  }

  .phone-flex {
    display: block;
  }

  .footer-grid__nav {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .grid_diagnostic .grid__item {
    width: 100%;
  }

  .st-content img.float-right {
    width: 100%;
    max-width: 100%;
  }

  .instagram-grid {
    max-width: 400px;
    margin: 0 auto;
  }

  .instagram-grid__item {
    width: 100%;
  }

  .main-slider__text br {
    display: none;
  }

  .section-grid {
    max-width: 400px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-grid__item {
    padding: 0;
    width: 100%;
    margin-bottom: 80px;
  }
  .section-grid__item:last-child {
    margin-bottom: 0;
  }
  .section-grid__item:after {
    right: auto;
    left: 50%;
    margin-left: -20px;
    top: 100%;
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
    zoom: 1;
    margin-top: 20px;
  }

  .main-slider__slide {
    background-position: 0 0;
  }

  .main-slider__content {
    width: 100%;
    padding: 30px 0 40px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .main-slider__title {
    font-size: 30px;
  }

  .main-slider .owl-dots {
    bottom: 10px;
  }

  .footer-grid__wrapper-left {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-grid__item-address {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .footer-grid__item-links {
    width: 100%;
    margin-bottom: 35px;
  }

  .footer-grid__item-social {
    width: 100%;
  }

  .footer-item__list {
    text-align: center;
    float: none;
  }

  .footer-item-phones-grid {
    width: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .review-slider__header {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .review-slider__date {
    padding-left: 10px;
  }

  .section-item-grid__contacts {
    width: 100%;
  }

  .pagination {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .pagination__items {
    width: 100%;
  }

  .pagination-items__item {
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-right: 1px solid #cac9c9;
  }
  .pagination-items__item:nth-child(2) {
    border-left: 1px solid #cac9c9;
  }

  .pagination__prev {
    width: 100%;
  }

  .pagination__next {
    width: 100%;
    border-left: 1px solid #cac9c9;
  }
}
