{% extends "layouts/app.twig" %}

{% block pageTitle %} Блог {% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="section__title">
                <div class="st-title fz50">Блог экспертов по лечению за рубежом</div>
            </div>
            <div class="section_news">
                <div class="news-grid news-grid_blog">
                    <a href="#" class="news-grid__item news-item">
                        <div class="news-item__image-wrap">
                            <img class="news-item__image" src="images/blog1.jpg">
                        </div>
                        <div class="news-item__desc news-item-desc">
                            <div class="news-item-desc__title">Акупунктура повышает эффективность медикаментозного лечения при хронических  депрессиях</div>
                            <div class="news-item-desc__preview">Специалисты здравоохранения выяснили, что акупунктура повышает эффективность медикаментозного лечения при хронических болях и депрессиях. В журнале National Institute for Health Research ученые рассказали о положительном эффекте иглоукалывания и привели существенные доказательства этому факту.</div>
                            <div class="news-item-desc__date">30.12.2016</div>
                        </div>
                    </a>
                    <a href="#" class="news-grid__item news-grid_blog news-item">
                        <div class="news-item__image-wrap">
                            <img class="news-item__image" src="images/blog1.jpg">
                        </div>
                        <div class="news-item__desc news-item-desc">
                            <div class="news-item-desc__title">Обнаружено 14 новых генетических заболеваний у детей</div>
                            <div class="news-item-desc__preview">Врожденные аномалии развития являются одной из главных причин смертности новорожденных по всему миру. В большинстве случаев главную роль играют генетические факторы. Одно из крупнейших исследований болезней детей выявило 14 новых генов, ответственных за нарушения развития у детей.</div>
                            <div class="news-item-desc__date">30.12.2016</div>
                        </div>
                    </a>
                    <a href="#" class="news-grid__item news-grid_blog news-item">
                        <div class="news-item__image-wrap">
                            <img class="news-item__image" src="images/blog1.jpg">
                        </div>
                        <div class="news-item__desc news-item-desc">
                            <div class="news-item-desc__title">Акупунктура повышает эффективность медикаментозного лечения при хронических  депрессиях</div>
                            <div class="news-item-desc__preview">Специалисты здравоохранения выяснили, что акупунктура повышает эффективность медикаментозного лечения при хронических болях и депрессиях. В журнале National Institute for Health Research ученые рассказали о положительном эффекте иглоукалывания и привели существенные доказательства этому факту.</div>
                            <div class="news-item-desc__date">30.12.2016</div>
                        </div>
                    </a>
                    <a href="#" class="news-grid__item news-grid_blog news-item">
                        <div class="news-item__image-wrap">
                            <img class="news-item__image" src="images/blog1.jpg">
                        </div>
                        <div class="news-item__desc news-item-desc">
                            <div class="news-item-desc__title">Обнаружено 14 новых генетических заболеваний у детей</div>
                            <div class="news-item-desc__preview">Врожденные аномалии развития являются одной из главных причин смертности новорожденных по всему миру. В большинстве случаев главную роль играют генетические факторы. Одно из крупнейших исследований болезней детей выявило 14 новых генов, ответственных за нарушения развития у детей.</div>
                            <div class="news-item-desc__date">30.12.2016</div>
                        </div>
                    </a>
                    <a href="#" class="news-grid__item news-grid_blog news-item">
                        <div class="news-item__image-wrap">
                            <img class="news-item__image" src="images/blog1.jpg">
                        </div>
                        <div class="news-item__desc news-item-desc">
                            <div class="news-item-desc__title">Акупунктура повышает эффективность медикаментозного лечения при хронических  депрессиях</div>
                            <div class="news-item-desc__preview">Специалисты здравоохранения выяснили, что акупунктура повышает эффективность медикаментозного лечения при хронических болях и депрессиях. В журнале National Institute for Health Research ученые рассказали о положительном эффекте иглоукалывания и привели существенные доказательства этому факту.</div>
                            <div class="news-item-desc__date">30.12.2016</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="pagination">
                <a href="#" class="pagination__prev pagination_inactive">« Назад</a>
                <div class="pagination__items pagination-items">
                    <a href="#" class="pagination-items__item">1</a>
                    <a href="#" class="pagination-items__item">2</a>
                    <a href="#" class="pagination-items__item">3</a>
                    <a href="#" class="pagination-items__item">4</a>
                    <a href="#" class="pagination-items__item">...</a>
                    <a href="#" class="pagination-items__item">19</a>
                    <a href="#" class="pagination-items__item">20</a>
                    <a href="#" class="pagination-items__item">21</a>
                </div>
                <a href="#" class="pagination__next">Вперед »</a>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title">Подписывайтесь на наши новости и узнавайте всё первыми</div>
                <div class="section-form__descr">Вы будете получать на электронную почту свежие новости и информацию об акциях и скидках на прогарммы диагностики/лечения в Южной Корее</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <p class="tac">
                    <a href="#" class="button">Отправить бесплатный запрос</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}