{% extends "layouts/app.twig" %}

{% block pageTitle %} Диагностика {% endblock %}


{% block content %}
    <div class="section-presentation">
        <div class="section">
            <div class="section-presentation__container container tac">
                <h1 class="section-presentation__title st-title fz55">Программы комплексного обследования в медецинском центре «Сунчонхян»</h1>
                <div class="section-presentation__descr">Медицинский центр Сунчонхян получил высшее звание клиники 3-го уровня в лечении сердечно-сосудистых, раковых и других различных серьезных заболевании. Используется новейшее оборудование последних разработок , с помощью которых устанавливают точный диагноз и подбирают соответствующий эффективный метод лечения.</div>
                <p>
                    <a href="#" class="button tab-fz18">Отправить бесплатный запрос</a>
                </p>
            </div>
        </div>
        <div class="section-presentation__footer">
            <div class="section-presentation__container container">
                <div class="grid grid_presentation">
                    <div class="grid__item presentation-item">
                        <div class="presentation-item__number">32</div>
                        <div class="presentation-item__descr">терапевтических и хирургических отделения</div>
                    </div>
                    <div class="grid__item presentation-item">
                        <div class="presentation-item__number">16</div>
                        <div class="presentation-item__descr">профессиональных центров</div>
                    </div>
                    <div class="grid__item presentation-item">
                        <div class="presentation-item__number">108</div>
                        <div class="presentation-item__descr">специализированных клиник</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_pt_0">
        <div class="main-slider owl-carousel">
            <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');" >
                <div class="container main-sider__container">
                    <a class="company-slider__content" href="#">Все виды диагностики <br>и лечения в Южной Корее <br>пластическая хирургия</a>
                </div>
            </div>
            <div class="main-slider__slide" style="background-image: url('images/grand_plastic.jpg');" >
                <div class="container main-sider__container">
                    <a class="company-slider__content" href="#">Компания 2</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section__title st-title fz50 tab-fz35 mob-fz25">Программы диагностики</div>
            <div class="js-accordion st-accordion">
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Общее понимание диагностики</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>

                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Основная диагностика</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <div class="grid grid_diagnostic">
                            <div class="grid__item">
                                <h2>Для мужчин</h2>
                                <ul>
                                    <li>Основная диагностика</li>
                                    <li>Колоноскопия с применением быстродействующего снотворного</li>
                                    <li>УЗИ щитовидной железы</li>
                                    <li>УЗИ предстательной железы</li>
                                    <li>УЗИ сердца</li>
                                    <li>Тест на плотность костной массы</li>
                                    <li>КТ сердца(3D)</li>
                                    <li>МРТ / МРА головного мозга</li>
                                    <li>Анализ крови NMP22</li>
                                </ul>
                            </div>
                            <div class="grid__item">
                                <h2>Для женщин</h2>
                                <ul class="custom-ul-list">
                                    <li>Основная диагностика</li>
                                    <li>Колоноскопия с применением быстродействующего снотворного</li>
                                    <li>УЗИ щитовидной железы</li>
                                    <li>УЗИ сердца</li>
                                    <li>Тест на плотность костной массы</li>
                                    <li>КТ сердца(3D)</li>
                                    <li>МРТ / МРА головного мозга</li>
                                    <li>Анализ крови NMP22</li>
                                    <li>УЗИ молочной железы</li>
                                    <li>УЗИ трансвагинальное</li>
                                    <li>Вирус папилломы человека(обследования на HPV DNA)</li>
                                </ul>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>

                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Детальная диагностика</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>

                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>

                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Премиум диагностика онкозаболеваний</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>
                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Премиум диагностика (головного мозга, сердечных заболеваний)</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>
                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Детская диагностика</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>
                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">VIP-премиум диагностика (онкозаболеваний, головной мозг, сердечно-сосудистые заболевания и др.)</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>
                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Обследования на выбор</div>
                    <div class="js-accordion-content st-accordion__content mob-fz14">
                        <p>Можно уменьшить процент смертности от онкологических заболеваний. Рак легких, рак печени, рак желудка, рак толстой кишки, рак молочной железы.
                            Пять видов рака с высокой степенью смертности. Можно уменьшить процент смертности от рака при помощи раннего выявления и лечения. Ранняя
                            диагностика онкологических заболеваний существенно повышает шансы на выздоровление.</p>
                        <h2>Рекомендации по диагностике 5 видов самых распространенных раков</h2>
                        <table>
                            <tr>
                                <td></td>
                                <td><strong>Возрастные категории для диагностики</strong></td>
                                <td><strong>Метод диагностики</strong></td>
                                <td><strong>Сроки диагностики</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Рак желудка</strong></td>
                                <td>Мужчины и женщины старше 40 лет</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак печени</strong></td>
                                <td>Мужчины старше 30 лет и женщины старше 40 лет с циррозом печени, наличием антигенов к вирусу гепатита B или антител к вирусу гепатита C</td>
                                <td>Гастроскопия</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак толстой кишки</strong></td>
                                <td>Мужчины и женщины старше 50 лет</td>
                                <td>Колоноскопия</td>
                                <td>5-10 лет</td>
                            </tr>
                            <tr>
                                <td rowspan="3"><strong>Рак молочной железы</strong></td>
                                <td>Женщины старше 30 лет</td>
                                <td>Самостоятельное обследование молочных желез</td>
                                <td>Ежемесячно</td>
                            <tr>
                                <td>Женщины старше 35 лет</td>
                                <td>Клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            <tr>
                                <td>Женщины старше 40 лет</td>
                                <td>Маммография + клиническое обследование молочных желез</td>
                                <td>2 года</td>
                            </tr>
                            <tr>
                                <td><strong>Рак шейки матки</strong></td>
                                <td>Женщины старше 20 лет с опытом половых отношений</td>
                                <td>Цитологическое исследование мазка (жидкий ПАП-тест)</td>
                                <td>1 год</td>
                            </tr>
                        </table>
                        <p class="tac">
                            <a href="#" class="button js-open-popup">Отправить бесплатный запрос</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <p class="tac">
                <button class="js-open-popup button" data-popup-name="popup-feedback" type="button">Отправить бесплатный запрос</button>
            </p>
            <div class="section-form__header">
                <div class="section-form__title tab-fz40 mob-fz30">Запросите стоимость <br>Вашего лечения/диагностики</div>
                <div class="section-form__descr tab-fz18">Мы проконсультируем Вас и поможем найти оптимальный вариант лечения</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea mob-fz14" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text mob-fz14">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <p class="tac">
                    <a href="#" class="button tab-fz18">Отправить бесплатный запрос</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}